.card{
    height: 15rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
  color: black;
font-family:cursive;
    
    
    /*
    left: 5rem;
        background-color: #fce2dba8;
        border-radius: 1rem;
        border: white 0.1rem solid;
        top: 4rem;
        backdrop-filter: blur(5px);
        align-items: center;    
        bottom: 2rem;
        right: 1rem;
        margin-bottom: 2rem;
        */
}

.card>img{
            border-radius: 1rem;
            padding: 1px;
            width: 250px;
            height: 150px;
            position: relative;
            top: 0;
            margin-left: 5rem;
            
}
.card>h3{
    position: relative;
}
.card>h5{
    margin-top: 0;
}
